In [1]:
# Importar las bibliotecas necesarias
import pandas as pd

In [2]:
# Cargar los datasets proporcionados
day_df = pd.read_csv('datos/day.csv')
hour_df = pd.read_csv('datos/hour.csv')

In [3]:
# Mostrar información básica de los datasets para entender su estructura
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [4]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [5]:
# Mostrar una vista previa de los datos para ambos datasets
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [6]:
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
# Conversión de la columna 'dteday' al tipo datetime en ambos datasets
day_df['dteday'] = pd.to_datetime(day_df['dteday'])
hour_df['dteday'] = pd.to_datetime(hour_df['dteday'])

In [8]:
# Eliminar la columna 'instant', ya que es un índice incremental sin valor analítico
day_df_cleaned = day_df.drop(columns=['instant'])
hour_df_cleaned = hour_df.drop(columns=['instant'])

In [9]:
# Verificación de la estructura de los datasets después de la limpieza inicial
day_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      731 non-null    datetime64[ns]
 1   season      731 non-null    int64
 2   yr          731 non-null    int64
 3   mnth        731 non-null    int64
 4   holiday     731 non-null    int64
 5   weekday     731 non-null    int64
 6   workingday  731 non-null    int64
 7   weathersit  731 non-null    int64
 8   temp        731 non-null    float64
 9   atemp       731 non-null    float64
 10  hum         731 non-null    float64
 11  windspeed   731 non-null    float64
 12  casual      731 non-null    int64
 13  registered  731 non-null    int64
 14  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(10)
memory usage: 85.8 KB

In [10]:
hour_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      17379 non-null  datetime64[ns]
 1   season      17379 non-null  int64
 2   yr          17379 non-null  int64
 3   mnth        17379 non-null  int64
 4   hr          17379 non-null  int64
 5   holiday     17379 non-null  int64
 6   weekday     17379 non-null  int64
 7   workingday  17379 non-null  int64
 8   weathersit  17379 non-null  int64
 9   temp        17379 non-null  float64
 10  atemp       17379 non-null  float64
 11  hum         17379 non-null  float64
 12  windspeed   17379 non-null  float64
 13  casual      17379 non-null  int64
 14  registered  17379 non-null  int64
 15  cnt         17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 2.1 MB

In [11]:
# Convertir las columnas que pueden ser categóricas en variables de tipo categoría
# En el dataset diario (day.csv)
categorical_columns_day = ['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit']

# En el dataset por hora (hour.csv)
categorical_columns_hour = ['season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday', 'weathersit']

# Convertir las columnas categóricas a tipo 'category' en ambos datasets
day_df_cleaned[categorical_columns_day] = day_df_cleaned[categorical_columns_day].astype('category')
hour_df_cleaned[categorical_columns_hour] = hour_df_cleaned[categorical_columns_hour].astype('category')

In [12]:
# Verificar los cambios realizados en los datasets
day_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      731 non-null    datetime64[ns]
 1   season      731 non-null    category
 2   yr          731 non-null    category
 3   mnth        731 non-null    category
 4   holiday     731 non-null    category
 5   weekday     731 non-null    category
 6   workingday  731 non-null    category
 7   weathersit  731 non-null    category
 8   temp        731 non-null    float64
 9   atemp       731 non-null    float64
 10  hum         731 non-null    float64
 11  windspeed   731 non-null    float64
 12  casual      731 non-null    int64
 13  registered  731 non-null    int64
 14  cnt         731 non-null    int64
dtypes: category(7), datetime64[ns](1), float64(4), int64(3)
memory usage: 52.2 KB

In [13]:
hour_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      17379 non-null  datetime64[ns]
 1   season      17379 non-null  category
 2   yr          17379 non-null  category
 3   mnth        17379 non-null  category
 4   hr          17379 non-null  category
 5   holiday     17379 non-null  category
 6   weekday     17379 non-null  category
 7   workingday  17379 non-null  category
 8   weathersit  17379 non-null  category
 9   temp        17379 non-null  float64
 10  atemp       17379 non-null  float64
 11  hum         17379 non-null  float64
 12  windspeed   17379 non-null  float64
 13  casual      17379 non-null  int64
 14  registered  17379 non-null  int64
 15  cnt         17379 non-null  int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(3)
memory usage: 1.2 MB

Estas columnas convirtieron en **categóricas** porque representan datos discretos, cualitativos o con un número limitado de valores posibles, en lugar de ser valores numéricos continuos.

### 1. **`season` (Estación del año)**:
   - **Descripción**: Indica la estación del año (1: Invierno, 2: Primavera, 3: Verano, 4: Otoño).
   - **Razonamiento**: La estación es una categoría cualitativa que describe una división temporal del año. No hay una relación numérica o magnitud entre estaciones, por lo que tratarlas como categorías es apropiado para evitar interpretaciones incorrectas. El hecho de que la primavera (2) sea después del invierno (1) no implica una diferencia numérica que debamos medir.

### 2. **`yr` (Año)**:
   - **Descripción**: Indica el año del registro (0: 2011, 1: 2012).
   - **Razonamiento**: Aunque el año es representado numéricamente, en este contexto es una variable categórica con solo dos valores posibles (0 y 1). Convertirla a categórica asegura que el modelo no interprete 1 como "mejor" o "más" que 0. En lugar de ser una medida cuantitativa, simplemente se refiere a dos categorías temporales distintas (años).

### 3. **`mnth` (Mes)**:
   - **Descripción**: Representa el mes del año (1: Enero, 2: Febrero, ..., 12: Diciembre).
   - **Razonamiento**: Los meses son categorías discretas. Aunque están numerados, no existe una relación numérica entre los valores (por ejemplo, noviembre no es "más" que octubre en un sentido matemático). La conversión a categoría permite que los algoritmos traten los meses como divisiones discretas del año, y no como un valor continuo.

### 4. **`hr` (Hora del día)**:
   - **Descripción**: Representa la hora del día en formato de 24 horas (0: medianoche, 1: 1 a.m., ..., 23: 11 p.m.).
   - **Razonamiento**: Aunque la hora parece ser un valor numérico, en este contexto es más adecuado tratarla como categórica, porque cada hora representa una franja horaria distinta. El valor 23 (11 p.m.) no tiene una relación de magnitud con 22 (10 p.m.) de la manera en que lo haría un valor continuo. Al convertirla en categoría, evitamos que los modelos traten de asignar una relación matemática entre las horas, lo cual no tiene sentido en este caso.

### 5. **`holiday` (Día festivo)**:
   - **Descripción**: Indica si el día es festivo (0: No festivo, 1: Festivo).
   - **Razonamiento**: Esta columna es binaria y representa una característica cualitativa: si el día es festivo o no. No tiene sentido tratar esta variable como numérica porque 1 no es "más" que 0 en ningún sentido útil. Convertirla a categórica deja claro que es una característica discreta.

### 6. **`weekday` (Día de la semana)**:
   - **Descripción**: Representa el día de la semana (0: Domingo, 1: Lunes, ..., 6: Sábado).
   - **Razonamiento**: Aunque los días de la semana están numerados, no hay una relación matemática que los conecte. No tiene sentido interpretar que el valor 6 (sábado) es mayor o mejor que el valor 0 (domingo). Convertir esta columna en categórica permite que los modelos y análisis comprendan que son categorías discretas, no una secuencia numérica.

### 7. **`workingday` (Día laboral)**:
   - **Descripción**: Indica si el día es laboral o no (0: No laboral, 1: Laboral).
   - **Razonamiento**: Es otra variable binaria que representa si el día es un día de trabajo o no. No hay ninguna relación numérica entre los valores 0 y 1. Por lo tanto, es categórica, ya que describe cualidades discretas (trabajo o no trabajo).

### 8. **`weathersit` (Condiciones meteorológicas)**:
   - **Descripción**: Describe el estado del tiempo durante el día (1: Claro/Bueno, 2: Nublado/Mist, 3: Lluvia/Nieve ligera, 4: Lluvia/Nieve fuerte).
   - **Razonamiento**: Las condiciones meteorológicas son categorías discretas que describen el estado del clima en términos cualitativos. No tiene sentido tratar el valor 3 (lluvia ligera) como "más" que el valor 2 (nublado), ya que son simplemente diferentes tipos de clima. La conversión a categoría asegura que los modelos no interpreten una relación numérica que no existe.

In [14]:
# distinct values in each categorical column for the day dataset
for col in categorical_columns_day:
    print(f'Columna {col}: {day_df_cleaned[col].unique()}')

Columna season: [1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]
Columna yr: [0, 1]
Categories (2, int64): [0, 1]
Columna mnth: [1, 2, 3, 4, 5, ..., 8, 9, 10, 11, 12]
Length: 12
Categories (12, int64): [1, 2, 3, 4, ..., 9, 10, 11, 12]
Columna holiday: [0, 1]
Categories (2, int64): [0, 1]
Columna weekday: [6, 0, 1, 2, 3, 4, 5]
Categories (7, int64): [0, 1, 2, 3, 4, 5, 6]
Columna workingday: [0, 1]
Categories (2, int64): [0, 1]
Columna weathersit: [2, 1, 3]
Categories (3, int64): [1, 2, 3]

In [15]:
# distinct values in each categorical column for hour dataset
for col in categorical_columns_hour:
    print(f'Columna {col}: {hour_df_cleaned[col].unique()}')

Columna season: [1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]
Columna yr: [0, 1]
Categories (2, int64): [0, 1]
Columna mnth: [1, 2, 3, 4, 5, ..., 8, 9, 10, 11, 12]
Length: 12
Categories (12, int64): [1, 2, 3, 4, ..., 9, 10, 11, 12]
Columna hr: [0, 1, 2, 3, 4, ..., 19, 20, 21, 22, 23]
Length: 24
Categories (24, int64): [0, 1, 2, 3, ..., 20, 21, 22, 23]
Columna holiday: [0, 1]
Categories (2, int64): [0, 1]
Columna weekday: [6, 0, 1, 2, 3, 4, 5]
Categories (7, int64): [0, 1, 2, 3, 4, 5, 6]
Columna workingday: [0, 1]
Categories (2, int64): [0, 1]
Columna weathersit: [1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]